.top-con{
    padding: 0;
    margin: 0;
    ul{
        padding: 0;
        margin: 0; 
    }
    &__nav li{
        list-style-type: none;
        padding: 0;
        margin: 0 15px;
        display: inline;
        a{
            font-style: none;
            text-decoration: none;
            color: #111;
            &:hover{
                color: #111;
            }
        }
    }
}