<header>
  <nav class="top-con">
    <ul class="top-con__nav">
        <li> 
          <a routerLink="/page1">Introduction</a> 
        </li>
        <li>
          <a routerLink="/sample-page">Sample Page</a>
        </li>
    </ul>
    
  </nav>
</header>
<router-outlet></router-outlet>
