.page-card{
    background-image: url("../../assets/img/storyblocks-big-polar-bear-on-drift-ice-edge-with-snow-a-water-in-arctic-svalbard_r5vqpqf7-G.jpg");
    background-repeat:  no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}