<div class="page-card">
        <div class="page-card__image"></div>
        <div class="page-card__text">
            <h1>Thank You for meeting with me!</h1> 
             <a routerLink="/page2"><button class="page-card__text--next-button">Next <i class="fas fa-arrow-right"></i> </button></a>
        </div>
    </div>