.page-card{
    background-color: rgb(201, 114, 0);
    &__image{
        width: 40%;
        img{
            border-radius: 10%;
            text-align: center;
            -webkit-box-shadow: 4px 4px 5px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 5px -5px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 5px -5px rgba(0,0,0,0.75);

        }
    }
    &__text{
        width: 40%;
        color: #fff;
        &--next-button{
            padding: 1rem 1.5rem;
            background-color: #46b;
            border-radius: .4rem;
            border:solid .2rem #fff;
            font-size: 1.6rem;
            font-weight: bold;
            color: #fff;
            float: right;
            cursor: pointer;
        }
    }
}