/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-card{
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 40px);
    height: calc((var(--vh, 1vh) * 100) - 40px);
    border: 1px solid;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    &__image{
        
    }
    &__text{
        font-size: 1.6rem;
        
    }
}
